<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs|TheLawsBender</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body >
    <div id="blogbg" style="background-image: url(https://source.unsplash.com/1200x1200?<%=blog.tags%>);">
        <div id="page">
            <a href="/" class="links"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
    <h6 class="blog-date"><%=blog.date%></h6>
    <h1 class="blog-title"><%=blog.title%></h1>
    <p class="blog-content" style="white-space: pre-wrap !important;"><%=blog.content%></p>
    </div>
    </div>
    <footer id="footer">
        <div class="footer_div">
        <!-- <p>Blog Website</p> -->
        <p><i class="fa fa-facebook social fa-2x btn" aria-hidden="true"></i>
          <i class="fa fa-twitter social fa-2x btn" aria-hidden="true"></i>
          <i class="fa fa-instagram social fa-2x btn" aria-hidden="true"></i>
          <i class="fa fa-envelope social fa-2x btn" aria-hidden="true"></i>
        </p>
        </div>
      </footer>
</body>
</html>